
window {
  background-image: url("/home/daichi/Pictures/FipxONTaAAAQCa2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #555555;
}

#input-label {
  border: 0px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
