
window {
  background-image: url("/home/daichi/Pictures/FipxONTaAAAQCa2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f6f5f4;
}
